[submodule "GramsSim"]
	path = GramsSim
	url = https://github.com/wgseligman/GramsSim.git
[submodule "SparseConvNet"]
	path = SparseConvNet
	url = https://github.com/facebookresearch/SparseConvNet.git
[submodule "GramsSimSensitivity"]
	path = GramsSimSensitivity
	url = git@github.com:mshettyFE/GramsSimSensitivity.git
